.container {
    background-color: white;
    position: relative;
    border: 1px solid white;
    border-radius: 10px;
}
.container::before {
  content: ' ';
  height: 0;
  position: absolute;
  top: 16px;
  width: 0;
  z-index: 1;
  left: -10px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}
