@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&display=swap');
body {
  margin: 0 !important;
}

.lightSection {
  background: rgba(237, 62, 62, 0.89);
  color: #d3eaf2;
}

.darkSection {
  background: #850d03;
  color: #fff;
}

.lightTheme {
  background: linear-gradient(0deg, rgba(255,246,246,1) 0%, rgba(254,203,203,1) 100%);
  color: #fff;
}
.roundedBox {
  border-radius: 0.5rem;
  background: #fff;
  padding: 0.5rem;
}

.textTheme {
  color: #000000d0;
}

.lightTheme .textTheme {
  color: #000000d0;
}

.textBox {
  background: #ece1e1;
  padding: 0.5rem 0.7rem 0.5rem 0.5rem;
  border-radius: 0.5rem;
  color: #000000d0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: start;
  width: 100%;
}

.lightTheme *.hightlightText {
  color: #ab3232;
}

.darkTheme {
  background: linear-gradient(
    150deg,
    rgba(43, 98, 99, 1) 0%,
    rgba(117, 67, 99, 1) 100%
  );
  color: #d3eaf2;
}

.darkTheme .textTheme {
  color: #d0cece;
}
.darkTheme .roundedBox {
  background: linear-gradient(150deg, rgb(12, 51, 52) 0%, rgb(61, 35, 52) 100%);
}

.hoverEffect {
  transition: transform 0.3s, box-shadow 0.3s;
}

.hoverEffect:hover {
  transform: translateY(-4px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
}

.highlightText:hover {
  color: #ab3232;
}

.relative {
  position: relative;
}

.cardImgBox {
  max-height: 200px;
}
.boxShadow {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
}
.titleSection{
  width: 100%;
  border-left: 2px solid #ab3232;
  height: 3rem;
  line-height: 3rem;
  padding-left: 2rem;
  margin-left: 2rem;
  font-size: 1.5rem;

}
.imgBg {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.cardBox {
  cursor: pointer;
}

.loadingBox {
  border-radius: 0.5rem;
  background: #fff;
}
.imgColBox {
  position: relative;
  width: 100%;
}
.imgCardBox {
  position: relative;
  width: 100%;
}

.richTextBox p img {
  margin: 0 auto;
  max-width: 100%;
}

@media screen and (min-width: 1200px) {
  body,
  * {
    font-size: 14px;
  }
  .imgBg {
    height: 160px;
  }
  .imgCardBox {
    height: 160px;
  }
  .imgColBox {
    height: 300px;
  }
  .richTextBox p img {
    max-height: 400px;
  }
}
