body {
  margin: 0 !important;
}

.lightSection {
  background: #fff;
  color: #0b99db;
}

.darkSection {
  background: #850d03;
  color: #fff;
}

.lightTheme {
  background: linear-gradient(
    180deg,
    rgba(195, 34, 40, 1) 0%,
    rgba(226, 131, 131, 1) 50%,
    rgba(231, 126, 126, 0.9948354341736695) 76%,
    rgba(223, 57, 63, 1) 100%
  );
  color: #fff;
}

.lightTheme * {
  color: #fff;
}

.lightTheme *.hightlightText {
  color: #ab3232;
}

.darkTheme {
  background: linear-gradient(
    150deg,
    rgba(43, 98, 99, 1) 0%,
    rgba(117, 67, 99, 1) 100%
  );
  color: #d3eaf2;
}

.hoverEffect {
  transition: transform 0.3s, box-shadow 0.3s;
}

.hoverEffect:hover {
  transform: translateY(-4px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
}

.highlightText:hover {
  color: #ab3232;
}
